<app-header />
<main>
  <ul>
    <li>
      <app-user [user]="users[0]"
      (username)="onUserSelected($event)"/>
    </li>
    <li>
      <app-user [user]="users[1]"
      (username)="onUserSelected($event)"/>
    </li>
    <li>
      <app-user [user]="users[2]"
      (username)="onUserSelected($event)"/>
    </li>
    <li>
      <app-user [user]="users[3]"
      (username)="onUserSelected($event)"/>
    </li>
    <li>
      <app-user [user]="users[4]"
      (username)="onUserSelected($event)"/>
    </li>
    <li>
      <app-user [user]="users[5]"
      (username)="onUserSelected($event)"/>
    </li>
  </ul>
  <app-tasks [username]="selectedUser" />
</main>